body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    padding: 0;
  }
  
  header {
    background: linear-gradient(135deg, #6a1b29, #a04d71);
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .profile-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }
  
  .profile-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .edit-profile {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }

  .back-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #0077b6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #181113;
  }
  
  
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #47aec3;
  }
  
  .order-history {
    margin-top: 20px;
  }
  
  .order-history h3 {
    margin-bottom: 10px;
  }
  
  .order-history ul {
    list-style: none;
    padding: 0;
  }
  
  .order-history li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #6a1b29;
    color: white;
    margin-top: 50px;
  }
  
  /* Responsif */
  @media screen and (max-width: 768px) {
    .profile-pic {
      width: 120px;
      height: 120px;
    }
  
    .profile-container {
      padding: 15px;
    }
  }
  